 <!doctype html>
 <html lang="en">
   <head>
     <title>Title</title>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
              html {
		box-sizing:border-box;
  }

  *, *::before, *::after {
		box-sizing: inherit;
  }

  #app {
		text-align: center;
  }

  body {
		font-family: sans-serif;
		padding: 0;
		margin: 0;
  }
  #app {
		padding: 10px;
		margin: 0 auto;
		max-width: 1000px;
  }

  input[type=number] {
		padding: 10px;
		font-size: inherit;
		width:100%;
  }

  button {
		padding:10px;
  }

  [v-cloak] {
		opacity:0;
  }

  label {
		width:20%;
		padding:10px 0;
		display:inline-block;
  }

  .timer {
		font-size: 2em;
		margin: 20px;
  }
        </style>
   </head>
   <body>
       <div id="app" v-cloak>
            <h1>Timer</h1>
            <timer-setup v-if="!time" @set-time="setTime"></timer-setup>
            <div v-else>
                <timer :time="prettyTime"></timer>
                <div>
                    <button v-if="!isRunning" @click="start">Start</button>
                    <button v-if="isRunning" @click="stop">Stop</button>
                    <button @click="reset">Reset</button>
                </div>
            </div>       
        </div>

     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script>
        let Timer = {
            template: `
                <div class="timer">{{ time | prettify }}</div>
            `,
            props:['time'],
            filters: {
                prettify : function(value) {
                    let data = value.split(':')
                    let minutes = data[0]
                    let secondes = data[1]
                    if (minutes < 10) {
                            minutes = "0"+minutes
                    }
                    if (secondes < 10) {
                            secondes = "0"+secondes
                    }
                    return minutes+":"+secondes
                }
            }
        }

        let app = new Vue({
            el:"#app",
            components: {
                
                'timer':Timer
            },
            data: {
                isRunning: false,
                minutes:2,
                secondes:2,
                time:100,
                timer:null,
                sound:new Audio("http://s1download-universal-soundbank.com/wav/nudge.wav")
            },
            computed: {
                prettyTime () {
                    let time = this.time / 60
                    let minutes = parseInt(time)
                    let secondes = Math.round((time - minutes) * 60)
                    return minutes+":"+secondes
                }
            },
            methods: {
                start () {
                    this.isRunning = true
                    if (!this.timer) {
                        this.timer = setInterval( () => {
                                if (this.time > 0) {
                                    this.time--
                                } else {
                                    clearInterval(this.timer)
                                    this.sound.play()
                                    this.reset()
                                }
                        }, 1000 )
                    }
                },
                stop () {
                    this.isRunning = false
                    clearInterval(this.timer)
                    this.timer = null
                },
                reset () {
                    this.stop()
                    this.time = 1
                    this.secondes = 0
                    this.minutes = 0
                },
                setTime (payload) {
                    this.time = (payload.minutes * 60 + payload.secondes)
                }
            }
        })
    </script>
   
   </body>
 </html>
 
 

